.bgimage {
    background-image: url(C:\Users\Tiia\Documents\training\recipes\recipe-webapp\src\images\food.jpg);
    height: 100vh;
    background-size: cover;
    padding-bottom: 0;
}
.mainPageContainer {
    position: relative;
}

.signInComponent {
    position: absolute;
    padding: 1rem;
    background-color: #f2f2f2;
    opacity: 95%;
    border-radius: 20px;
}


.signInForm {
    padding: 1rem;
    color: black;
    text-align: left;
}

form > p {
    margin-top: 2rem;
    margin-bottom: 0rem;
}
form > p > u {
    color: blue;
}
form > p > u:hover {
    cursor: pointer;
} 
.alertText {
    color: red;
    margin-top: 0.25rem;
    font-size: .875em;
    --bs-text-opacity: 1;
    margin-left: 0.8rem;
}


form > .btn {
    width: 100%;
}



@media screen and (min-width: 600px) {
    .signInComponent {
        position: absolute;
        width: 50%;
        margin-left: 25%;
        margin-top: 15%;
    }
    .infoText {
        color: red;
        text-align: left;
    }
    .success {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 3rem;
        left: 0;
        padding: 1rem;
        margin-top: 1rem;
        background-color: #f2f2f2;
        text-align: center;
        font-size: 1.5rem;
        opacity: 80%;
    }
    
   
}
@media screen and (max-width: 600px) {
    .signInComponent {
        position: absolute;
        width: 95%;
        margin: 0;
        margin-top: 30%;
    }
    .infoText {
        color: red;
        text-align: left;
        font-size: 0.8rem;
    }
    .success {
        position: absolute;
        width: 100%;
        top: 2rem;
        left: 0;
        padding: 1rem;
        margin-top: 1.5rem;
        background-color: #f2f2f2;
        text-align: center;
        font-size: 1rem;
        opacity: 70%;

    }

}

    

