
.userBackroung {
    background-image: url(C:\Users\Tiia\Documents\training\recipes\recipe-webapp\src\images\food-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right;
    padding-bottom: 0;

}

.note{
    background-color: #f2f2f2;
    height: 70vh;
    background-repeat: no-repeat;
    margin-top: 4rem;
    border-radius: 12px;
    position: relative;
}
.navbar {
    position: relative;
    padding-top: 1rem;
    background-color: #f2f2f2;
}
.newRecipeForm {
    padding-top: 3rem;
    padding-left: 1rem;
    width: 95%;
    font-style: italic;
}
.alertText {
    color: red;
}

.profileTable {
    background-color: #f2f2f2;
    margin-top: 2rem;
    border-radius: 12px;
    padding: 1.5rem;
}
.recipeTable {
    background-color: #f2f2f2;
    margin-top: 2rem;
    border-radius: 9px;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .hideMobile {
        display: none;

    }
    .infoText {
        font-size: 1rem;
    }
}


@media screen and (min-width: 600px) {
    .profileTable {
        width: 50%;
        margin-left: 25%;
        margin-top: 3rem;
        padding: 2rem;
    } 
    .recipeTable {
        margin-left: 10%;
        width: 80%;
        padding: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
 
   
    .recipeTitle:hover {
        cursor: pointer;
        font-weight: bolder;
        color: rgb(26, 162, 26);
    }


}